extends layout

block content
  h1= title
  h2= title
  p Welcome to #{title}
  #login-button button
  .post-image post-image
  span#highlight span
  p.hidden.full p
  button(type='submit') 전송
  p
    | 안녕하세요
    | 여러 줄 입력
    br
    |태그도 중간에 넣을 수 있음.
  
  style.
    h1 {
      font-size:30px;
    }
  
  script.
    var message = 'Pug';
    

  - var node = 'Node.js'
  - var js = 'Javascript'
  p #{node}와 #{js}

  p='<strong>이스케이프</srong>'
  p!='<strong>이스케이프</srong>'

  ul
  each fruit in ["사과","배","오렌지","바나나","복숭아"]
    li=fruit

  ul
  each fruit, index in ["사과","배","오렌지","바나나","복숭아"]
    li=(index + 1) + '번째 ' + fruit

  - var isLoggedIn = false
  if isLoggedIn
    div 로그인 되었습니다
  else
    div 로그인이 필요합니다.

  each fruit in ["사과","배","오렌지","바나나","복숭아"]
    case fruit
      when '사과'
        p 사과입니다
      when '바나나'
        p 바나나입니다.
      default
        p 사과도 바나나도 아닙니다.

  include newPug